/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  border: 1px solid black;
  margin: 50px;
  padding: 10px;
}

button {
  padding: 5px 10px;
}

input[type="text"] {
  height: 25px;
} */
